* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color: rgb(151, 146, 228);
    --primary-color: rgb(0, 132, 253);
    --primary-light-color: rgb(181, 221, 255);
}

/* Utility */

.container {
    max-width: 320px;
    margin: auto;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;  
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.bg-prim {
    background-color: var(--primary-color);
}

.bg-lightprim {
    background-color: var(--primary-light-color);
}

.bg-second {
    background-color: var(--secondary-color);
}

.w70 {
    width: 70%;
}

.w30 {
    width: 30%;
}

/* Debug */

.debug-box {
    height: 100%;
    width: 100px;
    color: black;
}

.debug .card {
    height: 300px;
}

.debug .nav-logo, .debug .nav-menu {
    background-color: var(--primary-light-color);
}

.debug .columns {
    min-height: 300px;
    background-color: grey;
    text-align: center;
}

.debug .col {
    height: 100px;
    background-color: white;
    text-align: center;
}

/* Regole CSS */

body {
    padding-top: 5rem;
}

/* Header */

header {
    background-color: var(--primary-color);
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header .container {
    height: 100%;
}

.nav-logo, .nav-menu {
    line-height: 100%;
    vertical-align: middle;
}

/* Main */

.cards {
    justify-content: space-between;
    padding: 2rem 0;
    gap: 2rem;
}

.card {
    width: 100%;
    background-color: var(--primary-light-color);
    flex-basis: calc((40vh / 3) - 1rem);
}

.columns {
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0;
}

#testimonial .col {
    background-color: var(--secondary-color);
    margin: 2rem 0;
}






/* Responsive */

/* Mobile */

@media (min-width: 480px) {
    .container {
        max-width: calc(480px - 5rem);
    }
}

/* Tablet */

@media (min-width: 768px) {
    .container {
        max-width: calc(768px - 5rem);
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card {
        flex-basis: calc((100% / 3) - 1rem);
    }

    #servizi .card:first-child {
        flex-basis: calc(((100% / 3) * 2) - 0.5rem);
    }

    #testimonial .col {
        flex-direction: row;
    }

    .col-img {
        width: 30%;
    }

    .col-text {
        width: 70%;
    }
}

/* Desktop */

@media (min-width: 992px) {
    .container {
        max-width: calc(992px - 5rem);
    }

    #strategic .columns {
        flex-direction: row;
        align-items: flex-end;
    }

    #strategic .col {
        width: calc(50% - 2rem);
    }

    #strategic .container {
        width: 75%;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: calc(1200px - 5rem);
    }
}





